{% extends "base4.html" %}
{%block title%}Edit Movie{%endblock%}
{% block admin %}

<div class="container">
    <div class="form-container">
        <h1>Edit Movie Details</h1>
        <form method="post" action="/admin" enctype="multipart/form-data">
            <div class="form-group">
                <label for="title">Image</label> 
                <img class="form-control" src="data:image/png;base64,{{ p['image'] | base64_encode }}" alt="Thumbnail" width="128" height="128">   
                <input type="file" accept="image/*" title="Change Thumbnail"  placeholder="Change Thumbnail" name="image"> 
            </div>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="title" value="{{p['name']}}">
            </div>
            <div class="form-group">
                <label for="director">Director</label>
                <input type="text" class="form-control" id="director" name="director" value="{{p['director_name']}}">
            </div>
            <div class="form-group">
                <label for="year">Year</label>
                <input type="date" class="form-control" id="year" name="year"  value="{{p['release_date']}}">
            </div>
            <div class="form-group">
                <label for="rating">IMDB Rating</label>
                <input type="number" step="0.1" class="form-control" id="rating"  name="rating" value="{{p['imdb_rating']}}">
            </div>
            <div class="form-group">
                <label for="rating">About</label>
                <input type="text" class="form-control" id="about" name="about" value="{{p['about']}}">
            </div>
            <div class="form-group">
                <label for="rating">Duration</label>
                <input type="time" class="form-control" id="duration" name="duration" value="{{p['duration']}}">
            </div>
            <div class="form-group">
                <label for="rating">Actors ({{p['actors']|length}})Ex: ['Actor1', 'Actor2']</label>
                <input type="text" class="form-control" id="actors" name="actors" value="{{p['actors']}}">               
            </div>
            <button onclick="return confirm('Are you sure?')" type="submit" name='editmovie' value="{{p['id']}}" class="btn btn-primary">Save Changes</button>
            <button onclick="return confirm('Do you want to go back?')" type="submit" name='cancel' class="btn btn-secondary">Cancel</button>
        </form>
    </div>
</div>
{%endblock%}
