{% extends "base2.html" %}
 
{%block title%}Home{%endblock%}
{%block cards%}
<div class="container">
    
    <div class="" style="display:flex;flex-direction:row-reverse;">
    <img src="data:image/png;base64,{{ moviedata['image'] | base64_encode }}" class="img-thumbnail" style="width: 30%;height:15%;"alt="Movie Thumbnail">
	<div>
    <h1>{{moviedata.name}}</h1>
    <p><strong>Actors  - </strong>  
        {% for l in moviedata.actors %}
        {{l}},
    {% endfor %}</p>
    <p><strong>Duration  - </strong> {{moviedata.duration}}</p>
    <p><strong>About  - </strong> {{moviedata.about}}</p>
    <p><strong>IMDB  - </strong> {{moviedata.imdb_rating}}</p>
    <p><strong>Realised On  - </strong> {{moviedata.release_date}}</p>
    <p><strong>Directed By  - </strong> {{moviedata.director_name}}</p>
    </div>
    </div>
    <br/>
    
<form  method="post">
    <table class="table table-success table-striped"  border="1" cellpadding="10" cellspacing="0" width="100%" height="200" align="center" bgcolor="#e6e6e6" summary="This table displays information about fruits">
        <caption>Venue List</caption>
  <thead>
    <tr>
      <th> THEATRE NAME</th>
      <th> DATE </th>
      <th> TIME </th>
	  <th> PRICE (Rs.) </th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for i in venuelist recursive %} 
    <tr>
      <td>{{ i.theatre_venue.name }} </td>
      <td>{{ i.date }} </td>
      <td>{{ i.time }}</td>
      <td>{{ i.cost }}</td>
      <td ><div style="display:flex;align-items:center;flex-direction:row;">
        <input type="number" class="form-control" id="tickets" name="number_of_tickets-{{ i.id }}" min="1" max="{{ i.theatre_venue.capacity - (i['id'] | seatsbook) }}" placeholder="Number of Tickets">
        <button type="submit" style="width:130%;" onclick="confirm('Book this Venue')"  name="mbookvenue" value="{{ i.id }}">Book</button>
        </div>
      </td>
      <!-- style="width: 100%; height: 125%;" -->
      
    </tr>
    {% endfor %}
  </tbody>
    </table>   
    <!-- <input class='col-6' style='position:relative;border-radius:5px;' type="submit" value="Add Movie"> -->
</form>
</div>




{%endblock%}